[general]
	use_environment = "dev"
	time_zone = "America/Sao_Paulo"

[dev]
	db_host = "mag_sql"
	db_name = "magrathea_db"
	db_user = "user"
	db_pass = "password"
	logs_path = "/var/www/logs"
	backups_path = "/var/www/backups"
	cache_path = "/var/www/cache"
	time_zone = "America/Sao_Paulo"
	app_url = "http://magrathea.localhost.com:8080"
	jwt_key = ""

[production]
	db_host = "mysql.platypusweb.com.br"
	db_name = "magrathea_prod_db"
	db_user = "user_prod"
	db_pass = "password_prod"
	logs_path = "/home/platypusweb/app/logs"
	backups_path = "/home/platypusweb/app/database"
	cache_path = "/home/platypusweb/app/cache"
	timezone = "America/Sao_Paulo"
	app_url = "https://platypusweb.com"
	jwt_key = ""
